.input-section {
    width: auto;
    margin: auto;
    background-color: blue;
    border: 1px solid black;
    height: 120px;
    border-radius: 10px;
  }
  .input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
  }
  .current,
  .order {
    width: 150px;
    height: 30px;
    padding: 4px;
    margin-top: 20px;
    background-color: gray;
    color: white;
    box-shadow: 0 2px 2px lightsalmon;
    cursor: pointer;
  }
  .current:hover,
  .order:hover {
    background-color: lightgray;
    color: rgb(248, 23, 180);
  }
  
  .button {
    width: 400px;
    margin: auto;
    padding: 40px;
  }
  
  .buttonStyle {
    background-color: rgb(196, 175, 175);
    padding: 10px;
    color: rgb(238, 13, 13);
    border: 0;
  }
  .buttonStyle:hover {
    background-color: gray;
    cursor: pointer;
    color: white;
  }
  
  .out {
    width: 100%;
    background-color: rgb(19, 216, 150);
    color: white;
  }
  .out > h2 {
    color: rgb(238, 18, 201);
  }
  
  .show-data {
    width: auto;
    margin: auto;
    background-color: rgb(9, 114, 212);
    border: 1px solid black;
  }
 